<?php

const APP_NAME = 'SuiteLedger';

const FILE_UPLOAD_DIR = "uploads";

// Page URLs
const PAGE_URL_ADD_APARTMENT_COMPLEX = '/apartmentComplex/add';
const PAGE_URL_ADD_APARTMENT_UNIT = '/apartmentUnit/add';
const PAGE_URL_ADD_USER = '/user/add';
const PAGE_URL_ADD_USER_ROLE = '/userRole/add';
const PAGE_URL_CONTACT_US_FORM = '/contactUsForm';
const PAGE_URL_DASHBOARD = '/dashboard';

const PAGE_URL_DELETE_APARTMENT_COMPLEX = '/apartmentComplex/delete';
const PAGE_URL_DELETE_USER_ROLE = '/userRole/delete';
const PAGE_URL_DELETE_APARTMENT_UNIT = '/apartmentUnit/delete';
const PAGE_URL_EDIT_APARTMENT_COMPLEX = '/apartmentComplex/edit';
const PAGE_URL_EDIT_APARTMENT_UNIT = '/apartmentUnit/edit';
const PAGE_URL_EDIT_USER = '/user/edit';
const PAGE_URL_EDIT_USER_ROLE = '/userRole/edit';
const PAGE_URL_EXPORT_PAYMENTS = '/payment/export';
const PAGE_URL_LIST_APARTMENT_COMPLEX = '/apartmentComplex/list';
const PAGE_URL_LIST_APARTMENT_UNIT = '/apartmentUnit/list';
const PAGE_URL_LIST_PAYMENT = '/payment/list';
const PAGE_URL_LIST_USER_ROLE = '/userRole/list';
const PAGE_URL_LOGIN = '/login';

const PAGE_URL_PENDING_PAYMENT = '/pendingPayment/list';
const PAGE_URL_REVIEW_PAYMENT = '/reviewPayment/review';

const PAGE_URL_UPLOAD_PAYMENT_PROOF = '/payment/upload';
const PAGE_URL_SUBMIT_PAYMENT_PROOF = '/payment/submit';

// User statuses
const USER_STATUS_ACTIVE = 1;
const USER_STATUS_INACTIVE = 2;

// Statuses
const STATUS_ACTIVE = 1;
const STATUS_INACTIVE = 2;
const STATUS_DELETED = 3;

// Payment statuses
const PAYMENT_STATUS_PENDING_APPROVAL = 1;
const PAYMENT_STATUS_APPROVED = 2;
const PAYMENT_STATUS_REJECTED = 3;

// MESSAGE types
const MESSAGE_TYPE_SUCCESS = "SUCCESS";
const MESSAGE_TYPE_ERROR = "ERROR";

// patterns
const REGEX_DATE = "/^(\d{4})-(\d{2})-(\d{2})$/";


if ($_SERVER['SERVER_NAME'] == 'localhost') {

    define('ROOT_DIRECTORY', 'http://localhost/suite-ledger-web/public');
    define('FILE_UPLOAD_DIRECTORY', ROOT_DIRECTORY . "/../uploads");

    // database
    define('DBHOST', '');
    define('DBNAME', '');
    define('DBUSER', '');
    define('DBPASSWORD', '');
    define('DBDRIVER', 'mysql');

    // email
    define('EMAIL_SMTP_HOST', 'smtp.gmail.com');
    define('EMAIL_SMTP_PORT', '587');
    define('EMAIL_USERNAME', '');
    define('EMAIL_PASSWORD', '');

} else {

    define('ROOT_DIRECTORY', 'http://localhost/suite-ledger-web/public');
    define('FILE_UPLOAD_DIRECTORY', ROOT_DIRECTORY . "/../uploads");

    define('DBHOST', '');
    define('DBNAME', '');
    define('DBUSER', '');
    define('DBPASSWORD', '');
    define('DBDRIVER', 'mysql');

    define('EMAIL_SMTP_HOST', '');
    define('EMAIL_SMTP_PORT', '');
    define('EMAIL_USERNAME', '');
    define('EMAIL_PASSWORD', '');

}